@import 'reset.css';

#header {
  position: sticky;
  top: 0;
  padding: 0px 30px;

  background-color: white;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey-bakcground {
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
}

.grey-bakcground:hover {
  background-color: grey;
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

#search-bar {
  width: 450px;
  border: 3px solid grey;
  border-radius: 20px;
  padding: 5px 10px;
  color: grey;
  display: flex;
  flex-direction: row;
}

#container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 50px;
}

#main-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#video-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 50px;
}

#video-info-container {
  display: flex;
  flex-direction: column;
}

#creater-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#comment-container {}

.comment-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.comment-text-area {
  display: flex;
  flex-direction: column;
}

.comment-input-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.profile-thumbnail {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 25px;
}

.like-hate-area {
  display: flex;
  flex-direction: row;
}

.grey-button {
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
}

.grey-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.description {
  display: none;
  position: absolute;
  margin-top: 40px;
  z-index: 1;
}

.grey-button:hover .description {
  display: block;
}

.description a {
  display: block;
  color: white;
  background-color: black;
  padding: 10px;
}



/* 드롭다운 */
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-box {
  display: block;
}

.dropdown-box {
  display: none;
  position: absolute;
  padding: 10px;
  margin-top: 60px;

  z-index: 1;
}

.dropdown-box a {
  display: block;
}


.dropdown-content {
  background-color: whitesmoke;
  padding: 15px;
}

.dropdown-content:hover {
  background-color: lightgray;
  cursor: pointer;
}

input:focus {
  outline: none;
}

/* aside area -> 과제 */
#aside-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.video-thumbnail-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.video-thumbnail {
  width: 15%;
  margin: 5px;
}
